<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consola de asesorados</title>
</head>
<body>
    <div>
        <h1>Alumnos asignados</h1>
    </div>

    <div id="Opciones">
        <ul>
            <li>Seleccionar todos</li>
            <li>Enviar mensaje</li>
            <li>Registrar entrevista</li>
            <li>Exportar a excel</li>
        </ul>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Check</th>
                    <th>Carne</th>
                    <th>Alumno</th>
                    <th>Programa</th>
                    <th>Ciclo</th>
                    <th>Nivel</th>
                    <th>Becado</th>
                    <th>Correos</th>
                    <th>Teléfono</th>
                    <th>Promedio ponderado</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>